.taskbody_background{
    background-color: #F0F0F0;

}

.checkbox-block {
    display: block
}

.dropdown_inline{
    display:inline;
}

.heading_inline{
    display: inline;
} 

.clear_float{
    float: right;
    align-content:center;
    padding: 0mm;
    padding-bottom: 0em;
    padding-top: 0em;
    margin: 0em;
}
.footer{
    
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    h1 { font-size: 5.9vw; } 

    h2 { font-size: 3.0vh; } 
    .list-font{ font-size: 2vmin;}
    p { font-size: 1.5vmin; }
    .font-completed{font-size: 3vmin;}
    .checkbox-size{font-size: 1.5vmin;}
    Button{width:100px; font-size: 3vmin}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    h1 { font-size: 5.9vw; } 

    h2 { font-size: 3.0vh; } 
    .list-font{ font-size: 2vmin;}
    p { font-size: 1.7vmin; }
    .font-completed{font-size: 3vmin;}
    Button{width:100px; display: inline-block; }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    h1 { font-size: 5.9vw; } 

    h2 { font-size: 3.0vh; } 
    .list-font{ font-size: 2.5vmin;}
    p { font-size: 2vmin; }
    .font-completed{font-size: 3vmin;}
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    h1 { font-size: 5.9vw; } 

    h2 { font-size: 3.0vh; } 
    .list-font{ font-size: 2.5vmin;}
    p { font-size: 2vmin; }
    .font-completed{font-size: 20px;}
    Button{width:150px; }
    .btn{font-size: 2rem;}
}
